
{{> head }}
{{> navbar }} <!-- navbar es el mismo nombre en partials/navbar.hbs-->

<div class="row">
    <div class="col-md-8">
        <h1>
            Imagen!!
        </h1>
    </div>
    <div class="col-md-4">
        <img src="{{image}}" class="img-thumbnail">

    </div>
</div>

{{> footer }}